<ion-view view-title="Ledgerd Wallet">
  <ion-nav-back-button></ion-nav-back-button>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">接收方</span>
        <input type="text" placeholder="r开头的账号" ng-change="findPath()" ng-model="send.address">
      </label>
      <div class="item item-input-inset">
        <label class="item-input-wrapper" style="background: transparent;">
          <input type="text" placeholder="金额"  ng-change="findPath()" ng-model="send.value">
        </label>
        <select ng-change="findPath()" ng-model="send.amount" ng-options="a.currency for a in amount">
        </select>
      </div>
    </div>

    <!--<div ng-show="!active">目标账户未激活，至少发送{{serverInfo.reserveBaseLGD}}LGD激活</div>-->

    <div class="card" ng-repeat="path in paths">
      <div class="item item-text-wrap">
        <h3>{{path.source.maxAmount.value}} {{path.source.maxAmount.currency}}</h3>
      </div>
      <div class="item item-divider">
        <button class="button button-block button-positive" ng-click="pay(path)">
        用{{path.source.maxAmount.currency}}支付
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
