<ion-view view-title="Ledgerd Wallet">
  <ion-nav-back-button></ion-nav-back-button>
  <ion-content>
    <ul class="list">
      <li class="item" ng-repeat="item in items" ng-if="item.specification.source.address == address || item.specification.destination.address == address">
        <div ng-if="item.specification.source.address == address">
          <i>支出</i>
          <span class="badge badge-assertive">-{{item.specification.source.maxAmount.value}} {{item.specification.source.maxAmount.currency}}</span>
        </div>
        <div ng-if="item.specification.destination.address == address">
          <i>收入</i>
          <span class="badge badge-assertive">{{item.specification.destination.amount.value}} {{item.specification.destination.amount.currency}}</span>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
