<ion-view view-title="Ledgerd Wallet" can-swipe-back="false" hide-back-button="true">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="logout()">退出</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/logo.png">
        <h2>钱包地址</h2>
        <p class="selectable">{{account.address}}</p>
      </div>

      <div class="item item-body" style="text-align: center;">
        <p>扫码向我付款</p>
        <qrcode version="4" error-correction-level="M" size="200" data="{{account.address}}"></qrcode>
      </div>

      <a class="item item-icon-left" href="#/payment/transaction">
        <i class="icon ion-ios-list-outline"></i>
        交易明细
      </a>

      <div class="item item-divider">
        余额
      </div>
      <div class="item" href="#" ng-repeat="item in items">
        {{item.currency}}
        <span class="badge badge-assertive">{{item.fund}}</span>
      </div>
    </div>

    <button class="button button-block button-positive" ng-click="scanPayment()">向他人付款</button>
  </ion-content>
</ion-view>
